<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('/Users/joeycaltabellotta/Documents/JustForFun/partials/index.ejs') %>
    <link rel="stylesheet" href="/public/styles.css"/>
</head>
<body class="home-body">
    <h1>League of Ordinary Men</h1>
    <hr>
    <h2 class="home-title">Meet the Men behind the teams</h2>
<div> 
   
    <h2 class="division">BIG PEENS</h2>
    <h3 class="team-names">Cumback Boyz</h3>
    <img class="home-pics" src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.18169-9/197307_1590637726387_4130928_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=de6eea&_nc_ohc=eAi2HBSTmFEAX8s3oZl&_nc_ht=scontent-lga3-2.xx&oh=00_AT9wpJjAsMeHfx5DdwSFBvVIfUxMm70m9sfGiqzUGOMZqw&oe=633D08A2" height="400px" width="400px">
   

    
     <h3 class="team-names">Cincinnati Schmanchmones</h3>
     <img class="home-pics" src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.18169-9/38236_1323169239842_5595142_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=0UtyjdCTggsAX_UXpNL&_nc_ht=scontent-lga3-2.xx&oh=00_AT_zI31_jXQmbiuERdg8fMzMiOoO4xUiNK1GkKu23vUVjQ&oe=633B2F93" height="400px" width="400px">
    
 
   
     <h3 class="team-names">Wheelin and Thielen</h3>
     <img class="home-pics" src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.18169-9/20131_1185669562436_773823_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=fimPIHdCn8YAX_5-IsG&_nc_ht=scontent-lga3-2.xx&oh=00_AT90VHvTzx0mUYr_hID7_wuyZvPygdZeFB3W8L9HPyXCXg&oe=633AA0F5" height="400px" width="400px">


     <h3 class="team-names">Hurts So Good</h3>
     <img class="home-pics" src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.18169-9/167655_1505105588137_3137790_n.jpg?stp=c0.53.320.320a_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=da31f3&_nc_ohc=tEtwNzGuBt0AX9XYlRX&_nc_ht=scontent-lga3-2.xx&oh=00_AT86S_dbHgp1EniuMid3cPpS-esu49r4JJ5c5_5RwmCvcQ&oe=633D4510" height="400px" width="400px">
 
     <h3 class="team-names">Chris Jung Un</h3>
     <img class="home-pics" src="https://i.im.ge/2022/09/06/ORReT0.jabs.jpg" height="400px" width="400px">
  
     <h2 class="division">smoll peens</h2>
     <h3 class="team-names">King in the (AFC) North</h3>
     <img class="home-pics" src="https://scontent-lga3-2.xx.fbcdn.net/v/t1.18169-9/644196_3594199414177_570922836_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=4qZMDsBRCZsAX-P1Ybs&_nc_ht=scontent-lga3-2.xx&oh=00_AT8HrpVtx-fLLyYCcKBfm3J3dOooF9iAtEtk_SJaruF6Xw&oe=633D7509" height="400px" width="400px">
 
     <h3 class="team-names">Country Road Dead End</h3>
     <img class="home-pics" src="https://i.im.ge/2022/09/06/ORZ02x.rubino.jpg" height="400px" width="400px">
 
     <h3 class="team-names">Durke van Dyke</h3>
     <img class="home-pics" src="https://i.im.ge/2022/09/06/ORZslr.dyke.jpg" height="400px" width="400px">
     <p>(sorry jabs)</p>
    
     <h3 class="team-names">BJ</h3>
     <img class="home-pics" src="https://i.im.ge/2022/09/06/ORWJaK.bj.jpg" height="400px" width="400px">
   
     <h3 class="team-names">The Remy Boyz👑</h3>
     <img class="home-pics" src="https://i.im.ge/2022/09/06/ORWewh.remy.jpg" height="400px" width="400px">
   
 </div>
   
</body>
</html>