<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('/Users/joeycaltabellotta/Documents/JustForFun/partials/index.ejs') %>
    <link rel="stylesheet" href="/public/stir.css">
    <title>Document</title>
</head>
<body>
    <h1>Add New Samck Talk 
        <a href="">
            <button class="add-btn">
                Submit
            </button>
          </a>
    </h1>  
    <div class="input-group">
        <textarea id="form-control" aria-label="With textarea"></textarea>
      </div>
</body>
</html>