<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('/Users/joeycaltabellotta/Documents/JustForFun/partials/index.ejs') %>
    <link rel="stylesheet" href="/public/ffffotw.css"/>
    <title>Document</title>
</head>
<body>
    <h1>Fantasy Facts Football Facts Of The Week
        
    </h1>

    <h2 class="link-title"> Click a Link to Read:</h2>
</div>
    <% for( let i = 0; i<theFacts.length; i++){ %>
        <% const showFacts = theFacts[i] %>
      <div>
        <a class= 'showWeek' href="/FFFFOTW/<%= showFacts._id %>">
   Week <%= showFacts.week %>
   </a>
   <%}%>
   
   
    </div>
    
    
    <div class="add-section">
        <p class="secondP">Create a new Post</p>
             <a href="/FFFFOTW/new">
        <button class="add-btn">
        Add
        </button>
    </a>
    </div>
        
           


           
</body>
</html>