<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('/Users/joeycaltabellotta/Documents/JustForFun/partials/index.ejs') %>
    <link rel="stylesheet" href="/public/ffffotw.css"/>
    <title>Document</title>
</head>
<body>
    <h1>Fantasy Facts Football Facts Of The Week
        
    </h1>
    <h2 class="link-title">Read this weeks FFFFOTW here</h2>
    <p>|</p>
    <p>|</p>
    <p>|</p>
    <p>V</p>
    
    <div>
        <a class="link" href="/FFFFOTW/<%= theFacts.id %>">
            Click Here
        </a>
    </div>
    
    
    <div>
        <p class="secondP">For those who wish to create a new Post</p>
                       <p>|</p>
                       <p>|</p>
                       <p>|</p>
                       <p>V</p>
    <a href="/FFFFOTW/new">
        <button class="add-btn">
        Add
        </button>
    </a>
    </div>
        
           


           
</body>
</html>