#form-control {
    height: 500px;
    width: 3000px;
    margin-top: 20px;
}

.add-btn {
    background-color: rgb(15, 248, 15);
    border-radius: 50px;
    color: rgb(85, 85, 85);
    font-size: 25px;
    width: 7%;
    margin-left: 660px;
    border: none;
}

.add-btn:hover {
    color: black;
}

.weeks {

}

#new-body {
    background-color: blue;
    color: white;
}

.link-title {
    margin-top: 40px;
    font-size: 45px;
    text-align: center;
}

p {
    text-align: center;
}

.link {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 25px;
}

.secondP{
    text-align: left;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}

.show-fact-page {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    line-height: 70px;
    word-spacing: 2px;
    font-size: 30px;
}

.text-box {
    height: 500px;
    width: 1000px;
    margin-top: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.week-box {
    height: 40px;
    width: 120px;
}

.add-section {
    text-align: left;
    margin-left: 15px; 
}

.show-fact-week {
    font-size: 40px;
    margin-top: 30px;
    border: 1px solid black;
}

.showWeek {
    font-size: 25px;
}

.weeks {
    
}

@media only screen and (max-width: 390px) {    
    .add-section {
        text-align: left!important;
        margin-left: 15px!important; 
    }

    .add-btn {
        background-color: rgb(15, 248, 15);
        border-radius: 10px;
        border: none;
        color: rgb(85, 85, 85);
        font-size: 12px;
        margin-top: 10px;
        width: 38%;
        height: 30px;
        margin-left: 109px;
    }

    body {
       display: flex;
       flex-direction: column;
    }

    .navbar {
        font-size: 15px;
        padding: 5px;;
    }

    img{
        height: 50px;
        width: 50px;
    }

    .showWeek {
        font-size: 20px;
    }

    h1 {
        font-size: 18px;
        margin-top: 25px;

    }

    .show-fact-page {
        margin: auto;
        word-wrap: break-word;
        line-height: 30px;
        font-size: 15px;
    }

    .link-title {
        margin-top: 30px;
        font-size: 20px;
    }
}