.add-btn {
    float: right;
    background-color: rgb(15, 248, 15);
    border-radius: 20%;
    color: white;
    margin-top: 15px;
    margin-right: 15px;
}

#form-control {
    height: 500px;
    width: 3000px;
    margin-top: 20px;
}