* {
    box-sizing: border-box;
}

body {
    color: white;
    background-color: blue;
}

div {
   text-align: center;
}

h1 {
    text-align: center;
}

.navbar {
    background-color: black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gray;
    transition: 1s;
}

.team-names {
    padding: 160px;
    /* margin-left: 90px; */
}

.home-title {
    text-align: center;
    margin-top: 40px;
}

.home-pics {
    margin-top: -150px;
    border-radius: 10%;
}

.division {
    margin-top: 80px;
    color: black;
    font-weight: bolder;
    border-bottom: 2px solid white;
    margin-left: 560px;
    margin-right: 560px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}

.owners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 390px) {
    .navbar {
        font-size: 13px;
        padding: 5px;
    }

    img{
        height: 50px;
        width: 50px;
    }

    .home-pics{
        height: 100px;
        width: 100px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .team-names {
        padding: 0;
        margin-top: 20px;
        font-size: 16px;
    }

    .division {
        margin: 0;
        font-size: 40px;
    }

    .div {
        margin: 0;
        padding: 0;
        display: block;
    }

    .owners {
        display: block;
    }

    .home-title {
        font-size: 20px;
    }

    div.owners {
        display: grid!important;
        grid-template-columns: 1fr 1fr!important;
        grid-template-rows: 1fr 1fr!important;
    }
}