.div-name{
    text-align: center;
}

#table {
    width: 100%;
    font-size: 20px;
}

.content-table {
    margin-left: 200px;
    margin-right: 200px;
}


@media only screen and (max-width: 390px) {
    .navbar {
        font-size: 15px;
        padding: 5px;;
    }

    img{
        height: 50px;
        width: 50px;
    }

    #table {
       margin-left: -110px;
       width: 100%;
    }

    #tableTwo {
        width: 260px;
        height: 340px;
        margin-left: -110px;
    }

    .content-table {
        margin-left: 180px!important;
    }

    .div-name {
        margin-top: 40px;
    }

    .table-name {
        font-size: 15px;
    }
}